@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

html, body { margin: 0; padding: 0; outline: 0;}
:focus {
outline: 0;
}
.img-background {
  background-image: url(../img/fundo_1600.png);
  min-width: 100%;
   min-height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;


}

.form-container {
  background-color: #00aaa7;
  position: absolute;
      max-width: 540px;
      min-height: 100%;
      right: 0;
      padding: 10px 35px;
      padding-left: 65px;
      height: 100%;
      overflow: auto;
}

.box{
    width: 100%;
    height: auto;
    background-color: #444141;

}
.boxtransform{
      position: fixed !important;
      bottom: 20px;
      left: 5%;

}
@media (max-width:1280px) {
  .boxtransform{
  transform: translate(0%, 117%)

  }
}

.nossafreguesia-logo {
  margin-top: 20px;
  margin-left: 45px;
  float: left;
}

.logo-mobile {
  display: none;
  text-align: center;
}

.mobile-logo {
  text-align: center;
}

.social-icons
{
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom: 25px;
}

.img-icon-1 , .img-icon-2 { float: left; }

.sistema-informatico {
  padding-right: 40px;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 45px;
  color: white;
  padding-bottom: 15px;
  text-align: right;
}

.gestao-territorio {
  font-family: "Play-Regular", sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding-left: 20px;
  text-align: center;
}

.novidades {
  font-family: "Play-Regular", sans-serif;
  font-size: 16px;
  color:  #ffffff;
  text-align: left;

}

.input-group
{
  margin-bottom: -10px;
  overflow-y: auto;
   display: block !important;
   font-family: "Play-Regular", sans-serif;
   font-size: 14px;
}


.main { padding: 10px 30px; }

.control-label { display: none;}

#submit {
  margin-top: 25px;
  background-color: #333333 ;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 15px;
  transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

#submit:hover {
  background-color: #ffffff;
  color: #333333 ;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 15px;
}

.btn-lg {
  font-family: "Play-Bold", sans-serif;
}

.dados-spam {
  font-family: "Play-Regular", sans-serif;
  font-size: 12px;
  color:  white;
  margin-top: -10px;
  text-align: center;
}

.copyright {
  font-family: "Play-Regular", sans-serif;
  font-size: 14px;
  color:  white;
  text-align: center;
  padding-top: 135px;
}

  @media (max-width:991px) {

    .copyright{
      padding-top:40px;
    }
  }

  @media (max-width:1278px) {

    .copyright{
      padding-top:40px;
    }
  }

.img-rightco { vertical-align: bottom;}

@media (max-width:780px) {

 .form-container {
   max-width: 100%;
   padding: 10px 25px;
   padding-left: 25px;
 }

 .social-icons {
   padding-right: 0;
 }

 .logo-mobile {
   display: inherit;
   text-align: center;
 }

 .logo-nossafreguesia {
   display: none;
 }
 }

 @media (max-width:385px) {
   #submit {
     font-size: 9px;
   }

   #submit:hover {
     font-size: 9px;
   }
 }

 .social-icons{
 text-align: right;
 padding-right: 15px;
 padding-top: 10px;
 margin-bottom: 25px;
 }

.ImgOnHover{
 display: inline-block;
 width: 30px;
 background: url('../img/icon_facebook.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:30px;
}

.ImgOnHover:hover{
 background: url('../img/icon_facebook_hover.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover2{
 display: inline-block;
 width: 30px;
 background: url('../img/icon_linkedin.png') no-repeat top right;
 background-size:100%;
 content: "";
 height:30px;
}

.ImgOnHover2:hover{
 background: url('../img/icon_linkedin_hover.png') no-repeat top right;
 background-size:100%;
}

.ImgOnHover3{
 display: inline-block;
 width: 15px;
 background: url('../img/icon-1-hover.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:20px;

}

.ImgOnHover3:hover{
 background: url('../img/icon-1.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover4{
 display: inline-block;
 width: 15px;
 background: url('../img/icon-2-hover.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:20px;

}

.ImgOnHover4:hover{
 background: url('../img/icon-2.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover5{
 display: inline-block;
 width: 60px;
 background: url('../img/icon_consultoria_estratégica.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:60px;

}

.ImgOnHover5:hover{
 background: url('../img/icon_consultoria_estratégica_hover.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover6{
 display: inline-block;
 width: 60px;
 background: url('../img/icon_consultoria_p2020.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:60px;
margin-top: 8px;
}

.ImgOnHover6:hover{
 background: url('../img/icon_consultoria_p2020_hover.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover7{
 display: inline-block;
 width: 60px;
 background: url('../img/icon_taylor.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:60px;

}

.ImgOnHover7:hover{
 background: url('../img/icon_taylor_hover.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover8{
 display: inline-block;
 width: 60px;
 background: url('../img/icon_apps.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:60px;

}

.ImgOnHover8:hover{
 background: url('../img/icon_apps_hover.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover9{
 display: inline-block;
 width: 60px;
 background: url('../img/icon_geo.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:60px;

}

.ImgOnHover9:hover{
 background: url('../img/icon_geo_hover.png') no-repeat top left;
 background-size:100%;
}

.ImgOnHover10{
 display: inline-block;
 width: 60px;
 background: url('../img/icon_design.png') no-repeat top left;
 background-size:100%;
 content: "";
 height:60px;

}

.ImgOnHover10:hover{
 background: url('../img/icon_design_hover.png') no-repeat top left;
 background-size:100%;
}

.boxmobile{display: block;}
  .boxmobile2{display: none;}
    .boxmobile3{display: none;}
@media (max-width:991px) {
.boxmobile{
display:none;

}
.boxmobile2{
display:block;

}
}

@media (max-width:1278px) {

  .boxmobile3{
  display:block;
  overflow-y: auto;
  overflow-x: hidden;
  }

  .col-md-6{
    width: 100% !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
